<ion-view view-title="Login Page">
<ion-content class="td-content">
  <div class="row">
     <div class="col text-center">
        <img src="img/logo.png" width="70%" />
     </div>
  </div>
  <div class="list padding">
    <label class="item item-input">
      <input type="email" placeholder="Email" ng-model="user.email"/>
    </label>
    <label class="item item-input">
      <input type="password" placeholder="Password" ng-model="user.password"/>
    </label>
    <button class="button button-block button-positive" ng-click="login(user)">
      Log in
    </button>
    <a href="#/signUp" class="button button-block button-positive">Sign Up</a>
  </div>
</ion-content>
</ion-view>