<ion-view view-title="Sign Up Page">
<ion-content>
<div class="list padding">
  <label class="item item-input">
    <input type="email" placeholder="Email" ng-model="user.email"/>
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Nickname" ng-model="user.nickname"/>
  </label>
  <label class="item item-input">
    <input type="password" placeholder="Password" ng-model="user.password"/>
  </label>
  <label class="item item-input">
    <input type="password" placeholder="Re-enter Password" ng-model="repassword"/>
  </label>
  <ion-radio ng-model="user.gender" ng-value="'male'">Male</ion-radio>
  <ion-radio ng-model="user.gender" ng-value="'female'">Female</ion-radio>

  <div class="row toe-row">
    <div class="col">
      <div class="item item-icon-left td-date-time-picker-div" ion-datetime-picker date ng-model="user.dob">
        <i class="icon ion-ios-lightbulb-outline positive"></i>
        Date of birth:
        <strong>{{user.dob| date: "yyyy-MM-dd"}}</strong>
      </div>
    </div>
  </div>

  <button class="button button-block button-positive" ng-click="signUp(user)">
    Submit
  </button>
  <a href="#/login" class="button button-block button-positive">Cancel</a>
</div>
</ion-content>
</ion-view>