<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon td-menu-tool-btn" menu-toggle="left">
        </button>
      </ion-nav-buttons>
<!--       <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-plus td-menu-tool-btn" ng-click="openNewMoodsModal()">
        </button>
      </ion-nav-buttons> -->
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu width="200" side="left">
    <ion-header-bar class="bar-assertive">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content class="td-side-menu-content">
      <ion-list>
        <ion-item menu-close href="#/app/home">
          <i class="icon ion-home placeholder-icon"></i>
          Home
        </ion-item>
        <ion-item menu-close href="#/app/moods">
          <i class="icon ion-android-happy placeholder-icon"></i>
          Moods
        </ion-item>
        <ion-item menu-close href="#/app/schedules">
          <i class="icon ion-calendar placeholder-icon"></i>
          Schedules
        </ion-item>
        <ion-item menu-close href="#/app/notes">
          <i class="icon ion-pricetag placeholder-icon"></i>
          Notes
        </ion-item>
        <ion-item menu-close ng-click="openLogOutModal()">
          <i class="icon ion-log-out placeholder-icon"></i>
          Log Out
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>


<script id="log-out-modal.html" type="text/ng-template">
  <ion-modal-view id="log-out-modal">
    <ion-header-bar class="bar bar-header">
      <h1 class="title">Are you sure to log out?</h1>
    </ion-header-bar>
    <ion-content>
      <div class="list padding">
        <button class="button button-block button-positive" ng-click="logOut()">
          Log Out
        </button>
        <button class="button button-block button-positive" ng-click="modal.hide()">
          Cancel
        </button>
      </div>
    </ion-content>
  </ion-modal-view>
</script>

